.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    resize: both;
    overflow: auto;
    gap: 15px;


}

.card-title {
    background-color: rgb(197, 196, 196);
}

.card {
    background-color: rgb(159, 159, 159);
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
}

.card :hover {
    background-color: rgb(159, 150, 159);
}

.title {
    color: salmon;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}